body {
  font-family: 'Inter', sans-serif;
  background-color: #f9f9fa;
  color: #17171b;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .pad {
    @apply px-4 md:px-8  xl:px-20 py-4 md:py-6 xl:py-12;
  }
  .nav-item {
    @apply transition-all text-lg font-light border-gray-50 border-b-2 hover:border-gray-900 duration-500 delay-75 ease-in-out cursor-pointer pb-4 px-4;
  }
  .sidebar-item {
    @apply text-3xl font-semibold uppercase tracking-wide leading-snug;
  }
}
